<div id="filter" class="bg-dark">
    <div id="filter-toggler">
        <i class="fas fa-th"></i>
    </div>

    <div class="mt-4 overflow-hidden text-white px-2">
        <form method="GET" action="/phones">
            <div class="form-group">
                <h4>Марка</h4>
                <select name="brand_id[]" multiple="multiple" class="brand_id form-control" id="filter-brand">
                    <option></option>
                    <% brands.forEach(brand => { %>
                        <option value="<%= brand.id %>"><%= brand.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <h4>sim</h4>
                <div>
                    <input type="radio" name="sim_slots" value="1" class="sim_slots">
                </div>
                <div>
                    <input type="radio" name="sim_slots" value="2" class="sim_slots">
                </div>
            </div>
            <button type="submit" name="filter" value="1">
                Търси
            </button>
        </form>

        <script>
            const filterData = JSON.parse('<%- JSON.stringify(filterData); %>');
        </script>
      

    </div>
</div>