<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="/public/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/plugins/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/public/plugins/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/public/css/stylesheet.min.css">
</head>
<body>

  

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Navbar</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/phones">Phones</a>
            </li>
         <li>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cart-modal">Количка</button>
         </li>
          </ul>
        </div>
      </nav>
      
      <div class="modal fade bd-example-modal-lg" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="cartTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cartTitle">Количка</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%- include("./cartInside", {cartPhones}) %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
              <button type="button" class="btn btn-primary" onclick="location.href='/cart'">Виж количката</button>
            </div>
          </div>
        </div>
      </div>

         