    
<script src="/public/plugins/jquery/dist/jquery.min.js"></script>
<script src="/public/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/plugins/select2/dist/js/select2.min.js"></script>
<script src="/public/js/adminCustom.js"></script>
</body>
</html>