<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>

    <link rel="stylesheet" href="/public/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/plugins/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/public/plugins/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/public/css/adminStyleSheet.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Navbar</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/admin">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/phones">Phones</a>
            </li>
          </ul>
        </div>
      </nav>
