<%-include('./partials/header') %>

<body>
    <div id="main">
    <div class="section">
        <div style="padding-top:200px">
            <div class="container">
                 <div class="row">
                <div class="col-7">
                    <div class="box">
                        Hello World!
                    </div>
                </div>
            </div>
            </div>
           

        </div>
    </div>
    <div class="section">

    </div>
    <div class="section">

    </div>
    <div class="section">

    </div>
</div>
</body>

<style>
    footer{
        margin-top: -100px;
    }

    footer h3{
        padding-top: 100px;
    }
</style>


<%-include('./partials/footer') %>