<%-include('./partials/header') %>

<body>
    <main>
        <div class="container mb-5">
            <div class="row">

                <div class="col-6">

                    <div class="phone-left-side">
                        <img src="/public/sampleImages/big-photo.jpg" alt="phone img" class="w-100">
                    </div>

                </div>
                <div class="col-6 d-flex flex-column justify-content-between">
                    <div class="row">
                        <div class="col-3 mb-2 side-gallery">
                            <img src="/public/sampleImages/big-photo.jpg" alt="phone img" class="w-100">
                        </div>
                        <div class="col-3 mb-2 side-gallery">
                            <img src="/public/sampleImages/res_beeb2a5b938cd2fc51ad063da79f4321_190x190_418c.jpg"
                                alt="phone img" class="w-100">
                        </div>
                        <div class="col-3 mb-2 side-gallery">
                            <img src="/public/sampleImages/big-photo.jpg" alt="phone img" class="w-100">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-success" id="add-to-cart" onclick="location.href='/add-to-cart/1'">
                                Добави в количката
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 text-center mt-3">
                    <h2>
                        Смартфон Huawei P Smart Z, Dual SIM, 64GB, 4G, Midnight Black
                    </h2>
                    <div class="d-flex justify-content-end align-items-center">
                        <span class="bg-success rounded px-2 py-1 text-white font-weight-bold">
                            В наличност
                        </span>
                        <span class="bg-danger rounded px-2 py-1 text-white font-weight-bold">
                            Няма в наличност
                        </span>
                        <span class="ml-3 text-danger font-weight-bold text-right" style="font-size: 24px;">
                            123
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="bar bg-dark text-white py-2 text-center">
                        <h2>
                            Спецификации
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped table-dark table-hover">

                                <tbody>
                                    <tr>
                                        <th scope="row">Цена</th>
                                        <td>Mark</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SIM слотове</th>
                                        <td>Mark</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Брой ядра</th>
                                        <td>Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Модел процесор</th>
                                        <td>Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Цвят</th>
                                        <td>Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Размери</th>
                                        <td>Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Размери екран</th>
                                        <td>Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Вътрешна памет</th>
                                        <td>Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">RAM памет</th>
                                        <td>Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Брой камери</th>
                                        <td>Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Резолюция на основна камера</th>
                                        <td>Larry</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Капацитет батерия</th>
                                        <td>Larry</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>


<%-include('./partials/footer') %>