<%-include('./partials/header') %>

<body>
    <div id="main">
    <div class="section">
        <div style="padding-top:200px">
            text
        </div>
    </div>
    <div class="section">

    </div>
    <div class="section">

    </div>
    <div class="section">

    </div>
</div>
</body>


<%-include('./partials/footer') %>